.threads-page-container {
    min-height: 90vh;
}

.thread-details-container {
    background: #f2f2f2;border: 1.5px solid #e6e6e6; border-radius: 5px;

}


// mine



.threads {
    background-color: #ebebeb;
 &__wrapper {
     .row{
        margin-left: 0;
        margin-right: 0;
     }
 }
    &__scrollable {
        max-height: 600px;
        min-height: 600px;
        overflow: scroll;
    }
    &__messages {
        overflow: scroll;
        background-color: orange;
    }
}

.send-message-components {
    // background-color: blue;
}

.threads__messages-container {
    // background-color: silver;
    border: solid gray 1px;
    border-radius: 3px;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .messages {
        height: 400px;
        overflow: scroll;
    }

    .add-components {
        height: 200px;
        // background-color: green;
    }
}

.chat-bubble {
    // background-color: green;
    background-color: #cecece;
    
    // margin: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}

.messages{
    background-color: white;
    border-radius: 10px;
    margin: 2em 0;
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: scroll;
}

.message-content{
    padding: .5em 0;
    margin: 0 .4em;
}

.is-own {
    width: calc(80%-40px);
    // background-color: blue;
    background-color: #edebeb;
    margin-left: 20%;
    // float:right;
}

.thread-isActive {
    background-color: silver;
}

.thread-details-card{
    border: solid gray 1px;
    border-radius: 3px;
    display: flex;
    margin-bottom: 20px;
    // height: 100px;
    &__name {
        flex: 1;
        display: flex;
        padding-left: 30px;
        align-items: center;
    }
    &__image-wrapper {
        width: 80px;
        padding: 20px;
        border-left: solid gray 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}