.custom-navigation {
    padding: 10px 30px 10px 30px;
    &__wrapper {
        background-color: #359999;
        border-radius: 5px;
        font-weight: bold;
        .col-sm-3 {
            padding: 10px;
        }
        a {
            color: black;
            font-size: 20px;
            margin: 50px;
            height: 500px;
        }
    }
}