<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SulaTroniko</title>

  <!-- CSS  -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
  <link href="../../assets/css/author/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../assets/css/author/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../../assets/css/author/style.min.css" rel="stylesheet">
</head>

<body>
  <!--Navbar -->
<div>
  <nav class=" navbar fixed-top navbar-expand-sm" style="height: 3.8em;background: white;">
      <a id="logo-container" href="#" class="brand-logo">
        <img src="../../assets/images/sulatroniko_logo.png" style="width: 150px !important;margin-top: .15em;">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <div class="md-form form-sm">
            <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
            <input type="text" id="useremail" class="form-control" placeholder="Email">  
          </div>
        </li>
        <li class="nav-item" style="margin-left: 1em;margin-right: .5em;">
          <div class="md-form form-sm">
            <i class="fas fa-lock prefix"style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i> 
            <input type="password" id="userpassword" class="form-control" placeholder="Password">
          </div>
        </li>
        <li class="nav-item" style="margin-top: 1.7em;">
          <a class="waves-effect cyan btn btn-sm">Login</a>
        </li>
        <li class="nav-item" style="margin-top: 1.7em;">
          <a data-toggle="modal" data-target="#signup" class="waves-effect btn btn-primary btn-sm">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
<!--/.Navbar -->
</div>

  <div class="container-fluid" style="min-height: 100vh;margin-top: 7em;">
    <div class="section">
     
      <!--   Icon Section   -->
      <div class="row" style="margin: 0 4em -2em 4em;">
        <div class="col-md-7">
          <a href="../../views/homepage/index.html" style="font-size: 20px;margin-left: 1em;">Homepage</a>
        </div>
        <div class="col-md-3">
         <p style="font-size: 14px; color: gray; float:right;">460 Published Books Found |<span style="font-weight: bold;color: black;"> Sort By: </span> </p>
        </div>
        <div class="col-md-1" style="margin-top: -.4em;">
          <select class="browser-default custom-select custom-select-sm">
            <option value="1">Latest</option>
            <option value="2">Oldest</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin: 0 4em 4em 4em;">
        <div class="col-md-3" style="margin-top: 2em;">
          <!-- Card -->
            <div class="card">
              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Search Book Title" style="margin-left: .7em;">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-md cyan white-text" style="margin-top: 0;">Search</button>
                  </div>
                </div>
                <h4 class="card-title">Filter By</h4>
                <hr>
                 <!-- Genre -->
                 <div>
                  <p>Genre</p>
                   <div class="genre-group" style="height: 20vh;overflow-y: scroll;">
                     <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="comedy">
                      <label class="custom-control-label" for="comedy">Comedy</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="thriller">
                        <label class="custom-control-label" for="thriller">Thriller</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sci-fi">
                        <label class="custom-control-label" for="sci-fi">Science Fiction</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="psychological">
                        <label class="custom-control-label" for="psychological">Psychological</label> 
                     </div>
                   </div>
                 </div>
                 <hr>
                <!-- Author -->
                  <div>
                  <p>Author</p>
                   <div class="genre-group" style="height: 20vh;overflow-y: scroll;">
                     <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="author_1">
                      <label class="custom-control-label" for="author_1">Lalisa Manoban</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author_2">
                        <label class="custom-control-label" for="author_2">Jennie Ruby-Jane Kim</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author_3">
                        <label class="custom-control-label" for="author_3">Roseanne Park</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author_4">
                        <label class="custom-control-label" for="author_4">Jisoo Kim</label> 
                     </div>
                   </div>
                 </div>
                 <hr>
                <!-- Publisher -->
                <div>
                  <p>Publisher</p>
                   <div class="genre-group" style="height: 20vh;overflow-y: scroll;">
                     <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="publisher_1">
                      <label class="custom-control-label" for="publisher_1">Publisher 1</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="publisher_2">
                        <label class="custom-control-label" for="publisher_2">Publisher 2</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="publisher_3">
                        <label class="custom-control-label" for="publisher_3">Publisher 3</label> 
                     </div>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="publisher_4">
                        <label class="custom-control-label" for="publisher_4">Publisher 4</label> 
                     </div>
                   </div>
                 </div>
              </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-md-8" style="margin-left: 2em;">
          <div class="row book-row">
            <div class="col-md-3">
              <div class="icon-block">
               <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="220" height="300"> 
              </div>
            </div>

           <div class="col-md-3">
            <div class="icon-block">
             <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="220" height="300"> 
            </div>
           </div>

          <div class="col-md-3">
            <div class="icon-block">
              <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="220" height="300"> 
            </div>
          </div>

          <div class="col-md-3">
            <div class="icon-block">
             <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="220" height="300"> 
            </div>
          </div>
        </div>

         <div class="row book-row">
          <div class="col-md-3">
            <div class="icon-block">
             <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="220" height="300"> 
            </div>
          </div>

          <div class="col-md-3">
            <div class="icon-block">
             <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="220" height="300"> 
            </div>
          </div>


          <div class="col-md-3">
            <div class="icon-block">
              <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="220" height="300"> 
            </div>
          </div>

          <div class="col-md-3">
            <div class="icon-block">
             <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="220" height="300"> 
            </div>
          </div>
         </div>

         <div class="row book-row">
           <div class="col s12">
              <nav aria-label="Page navigation example" class="books-pagination">
                <ul class="pagination pg-blue" style="float: right;">
                  <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link">1</a></li>
                  <li class="page-item"><a class="page-link">2</a></li>
                  <li class="page-item"><a class="page-link">3</a></li>
                  <li class="page-item">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
     



<!-- Full Height Modal Right -->
<!-- <div class="modal fade right show" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 16px;" aria-modal="true"> -->
<div class="modal fade right" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title  ml-auto mr-auto">Create an Account</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="md-form form-sm">
              <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="email" id="emailadd" class="form-control">
              <label for="emailadd">Email</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-lock prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="password" id="password" class="form-control">
              <label for="passowrd">Password</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-lock prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="password" id="confirmpassword" class="form-control">
              <label for="confirmpassword">Confirm Password</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-phone prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="text" id="phonenumber" class="form-control">
              <label for="phonenumber">Phone Number</label> <br/>
            </div>
            <div class="user-type-group" style="margin: -2em 0 0 1em;">
              <p style="color: gray;">Are you a/an? </p>
               <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="author" name="usertype" checked>
                <label class="custom-control-label" for="author">Author</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="copywriter" name="usertype">
                <label class="custom-control-label" for="copywriter">Copywriter</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="publisher" name="usertype">
                <label class="custom-control-label" for="publisher">Publisher</label>
              </div>
              <p class="red-text" style="font-size: 10px;margin-top: .5em;">Tip: Publishers need to comply all necessary business requirements.</p>
            </div>
           </div> 
           
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn red lighten-1 white-text btn-md" data-dismiss="modal" style="width: 160px;">Close</button>
        <button type="button" class="btn cyan white-text btn-md">Create Account</button>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->



<!-- Footer -->
<footer class="white-text font-small blue-grey darken-4">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="white-text">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="white-text">FAQ</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="white-text">Contact Us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="white-text">Terms</a>
        </h6>
      </div>
      <!-- Grid column -->

     

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background: #1e282d;">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" class="grey-text"> SulaTroniko. All Rights Reserved.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../../assets/js/author/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../assets/js/author/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../assets/js/author/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../assets/js/author/mdb.min.js"></script>
 <!--  <script src="../../assets/js/materialize.js"></script>
  <script src="../../assets/js/init.js"></script> -->
  
 </body>
</html>


