<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SulaTroniko</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
      <img src="../../assets/images/sulatroniko_logo.png" style="width: 150px !important;margin-top: .15em;">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect cyan btn modal-trigger" href="#login">Login</a></li>
        <li><a class="waves-effect cyan btn modal-trigger" href="#signup">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

  <div class="container">
    <div class="section">
      <a href="../../views/homepage/index.html">Back To Homepage</a>
      <!--   Icon Section   -->
      <div class="row book-row">
        <div class="col s12 m3">
          <div class="icon-block">
           <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg"> 
          </div>
        </div>

         <div class="col s12 m3">
          <div class="icon-block">
           <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg"> 
          </div>
        </div>


        <div class="col s12 m3">
          <div class="icon-block">
            <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg"> 
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
           <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg"> 
          </div>
        </div>
      </div>

       <div class="row book-row">
        <div class="col s12 m3">
          <div class="icon-block">
           <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg"> 
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
           <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg"> 
          </div>
        </div>


        <div class="col s12 m3">
          <div class="icon-block">
            <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg"> 
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
           <img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg"> 
          </div>
        </div>

       <div class="col s12">
          <nav aria-label="Page navigation example" class="books-pagination">
            <ul class="pagination pg-blue">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
       </div>

      </div>
    </div>
  </div>




  <!-- Modal Structure -->

  <!-- Start of login-modal -->
  <!-- <div id="login" class="modal login-modal open" style="display:block;display: block; z-index: 1003; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);"> -->
  <div id="login" class="modal login-modal">
    <div class="modal-content">
      <h4 class="header center">Login to SulaTroniko</h4>
       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email_inline">Email</label>
          <span class="helper-text" data-error="Invalid Email"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect cyan btn">Login</a>
      <a href="#!" class="modal-close waves-effect red lighten-1 btn" style="margin-right: 2em;">Cancel</a>
    </div>
  </div> 
<!-- End of login-modal -->

<!-- Start of signup-modal -->
  <!-- <div id="signup" class="modal signup-modal open" style="z-index: 1003; display: block; opacity: 1; top: 10%; transform: scaleX(1) scaleY(1);"> -->
  <div id="signup" class="modal signup-modal">
    <div class="modal-content">
      <h4 class="header center">Create an Account</h4>
      <hr style="border: .5px solid #e8e8e8;">
      <div class="row">
        <div class="input-field col s3">
          <h6>Login Details</h6>

           <div class="row">
            <div class="input-field col s12" style="margin-top: .7em;margin-bottom: -1em;">
              <input id="email" type="email" class="validate">
              <label for="email_inline">Email</label>
              <span class="helper-text" data-error="Invalid Email"></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Confirm Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="phone" type="tel" class="validate">
              <label for="phone">Phone Number</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="birthdate" type="text" class="datepicker">
              <label for="birthdate">Birthdate</label>
            </div>
          </div>

        </div>
    
        <div class="input-field col s8" style="margin-left: 4em;">
         <h6 style="margin-left: 1em;">Personal Information</h6>
          <div class="row">
            <div class="input-field col s4" style="margin-top: .7em;margin-bottom: -1em;">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
             <div class="input-field col s4" style="margin-top: .7em;margin-bottom: -1em;">
              <input id="address" type="text" class="validate">
              <label for="address">Address</label>
            </div>
             <div class="input-field col s4" style="margin-top: .7em;margin-bottom: -1em;">
              <input id="state_province" type="text" class="validate">
              <label for="state_province">State/Province</label>
            </div>
          </div>

           <div class="row">
            <div class="input-field col s4" style="margin-top: 1.2em;">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
             <div class="input-field col s4" style="margin-top: 1.2em;">
              <input id="city" type="text" class="validate">
              <label for="city">City</label>
            </div>
             <div class="input-field col s4" style="margin-top: 1.2em;">
              <input id="zip_code" type="text" class="validate">
              <label for="zip_code">Zip Code</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="contact_number" type="text" class="validate">
              <label for="contact_number">Contact Number</label>
            </div>
             <div class="input-field col s4">
              <input id="credit_card" type="text" class="validate">
              <label for="credit_card">Credit Card Number</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="company" type="text" class="validate">
              <label for="company">Company/Institution</label>
            </div>
             <div class="input-field col s4">
              <input id="cvv" type="text" class="validate">
              <label for="cvv">CVV</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">  
              <p>
                <label>
                  <input class="with-gap" name="group3" type="radio" checked />
                  <span style="margin-right: 1em;">Author</span>
                </label>
                 <label>
                  <input class="with-gap" name="group3" type="radio" checked />
                  <span style="margin-right: 1em;">Writer</span>
                </label>
                 <label>
                  <input class="with-gap" name="group3" type="radio" checked />
                  <span style="margin-right: 1em;">Publisher</span>
                </label>
              </p>
             
            </div>
          </div>
          <div class="row">
            <div class="col s12" style="margin-top: -3em;">  
              <p class="red-text" style="font-size: 12px;">Tip: Publishers need to comply all necessary business requirements.</p>
            </div>
          </div>

          <div class="row">
        <div class="input-field col s12" style="margin-top: -1.5em;">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Bio</label>
        </div>
      </div>

        </div>

      </div>
    </div>
    <div class="modal-footer" style="margin-top: -3em;">
      <a href="#!" class="modal-close waves-effect cyan btn">Sign Up</a>
      <a href="#!" class="modal-close waves-effect red lighten-1 btn" style="margin-right: 2em;">Cancel</a>
    </div>
  </div> 
<!-- End of signup-modal -->

  <footer class="page-footer blue-grey darken-4">
    <div class="footer-copyright">
      <div class="container">
       <a href="#" class="white-text footer-navigation">About Us</a>
       <a href="#" class="white-text footer-navigation">FAQ</a>
       <a href="#" class="white-text footer-navigation">Contact Us</a>
       <a href="#" class="white-text footer-navigation">Terms</a>
       <a class="right white-text">Copyright 2019 SulaTroniko. All Rights Reserved.</a>
      </div>
    </div>
  </footer>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../assets/js/materialize.js"></script>
  <script src="../../assets/js/init.js"></script>
  <script src="../../assets/js/index.js"></script>

  </body>
</html>
