<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SulaTroniko</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
  <link href="../../assets/css/author/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../assets/css/author/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../../assets/css/author/style.min.css" rel="stylesheet">
</head>

<body>
  <!--Navbar -->
<nav class=" navbar fixed-top navbar-expand-sm" style="height: 5em;background: white;">
    <a id="logo-container" href="#" class="brand-logo">
      <img src="../../assets/images/sulatroniko_logo.png" style="width: 150px !important;margin-top: .15em;">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <div class="md-form form-sm">
          <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
          <input type="text" id="useremail" class="form-control" placeholder="Email">  
        </div>
      </li>
      <li class="nav-item" style="margin-left: 1em;margin-right: .5em;">
          <div class="md-form form-sm">
            <i class="fas fa-lock prefix"style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i> 
            <input type="password" id="userpassword" class="form-control" placeholder="Password">
            <a data-toggle="modal" data-target="#forgotpass" class="blue-text" style="margin-left: 2.5em; font-size: 12px;">Forgot Password?</a>
          </div>
      </li>
      <li class="nav-item" style="margin-top: 1.7em;">
        <a class="waves-effect cyan btn btn-sm">Login</a>
      </li>
      <li class="nav-item" style="margin-top: 1.7em;">
        <a data-toggle="modal" data-target="#signup" class="waves-effect btn btn-primary btn-sm">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<div class="parallax-container" style="min-height: 100vh;">
  <div class="container parallax-header" style="font-family: 'Libre Baskerville', serif;">
        <br><br>
        <h1 class="text-center white-text" style="font-size: 50px;text-shadow: -1px 1px 0 #000,  1px 1px 0 #000, 1px -1px 0 #000,-1px -1px 0 #000;">SulaTroniko</h1>
    
          <h5 class="text-center white-text" style="font-size: 30px;text-shadow: -1px 1px 0 #000,  1px 1px 0 #000, 1px -1px 0 #000,-1px -1px 0 #000;letter-spacing: 2px; ">Discover new user-generated stories spanning across different genres written
          by Philippine authors.</h5>
     
        <div class="text-center">
         <a class="waves-effect btn cyan btn-lg">Get Started</a>
      </div>/

    </div>
</div>

 <div class="container">
    <div class="section">
      <h6 class="text-center" style="margin: 2em 0; font-size: 25px; font-weight: bold;">LATEST PUBLISHED</h6>
      <!--   Icon Section   -->
       <div class="row book-row">
      <div class="col-sm d-flex justify-content-center">
      <a data-toggle="modal" data-target="#bookpreview"> <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="250" height= "300"> </a>
      </div>
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="250" height= "300"></a> 
      </div>
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="250" height= "300"></a>
      </div>
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="250" height= "300"> </a>
      </div>
    </div>

    <div class="row book-row ">
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="250" height= "300"></a> 
      </div>
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="250" height= "300"></a> 
      </div>
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="250" height= "300"></a> 
      </div>
      <div class="col-sm d-flex justify-content-center">
       <a data-toggle="modal" data-target="#bookpreview"><img class="responsive-img z-depth-3" src="../../assets/images/book2.jpg" width="250" height= "300"></a>
      </div>
    </div>

      <div class="row book-row">
        <div class="col-sm">
        <a href="../../views/homepage/allbooks.html" style="float: right;margin-bottom: 2em;"><b>See All Published Books</b></a>
        </div>
      </div>
    

    </div>
 </div>

 <div class="faq-section" style="min-height: 60vh; background: #f0f0f0;" id="faq">
  <div class="container" style="color: #212121;">
     <h3 style="padding-top: 2em;">Frequently Asked Questions</h3>
     <p style="text-indent: 50px;margin: 2em 0;">Have a burning question for our team? Chances are, you're not the first to ask! Take a look at some of the most common questions from across our community. Still looking for answers? Reach out to our team. </p>
     <ul>
       <li style="margin-bottom: 1em;">You own your story and Sulatroniko is another venue to share your voice and create more exposure and opportunities for you to get your story published.</li>
       <li style="margin-bottom: 1em;">You own all the rights to the content you create and post on the Sulatroniko.</li>
       <li style="margin-bottom: 1em;">Posting on Sulatroniko doesn’t mean you lose First Rights nor would it be viewed as a reprint by a publisher.</li>
       <li style="margin-bottom: 1em;">You can remove your story whenever you want, unless you already signed a contract you agreed on with a publisher.</li>
     </ul>
  </div>
 </div>

 <div class="about-us-section" style="min-height: 100vh;" id="about-us">
  <div class="container">
    <h3 style="padding-top: 2em;">About Us</h3>
    <p class="text-center" style="margin-top: 3em;">Sulatroniko is an online writing platform catered toward helping local authors and publishers meet in one community to help them discover and create contents with audience near you. With Sulatroniko, members of publishing industries can directly connect to potential authors without hassle.</p>
    <div class="row" style="margin-top: 2em;">
      <div class="col-md-4">
       <div class="view overlay zoom" style="border-radius: 70%;width: 250px; height: 250px;margin: 0 auto;">
        <img src="../../assets/images/dianne.jpg" class="img-fluid " alt="zoom" style="width: 250px; height: 250px; border-radius: 50%;">
        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text" style="margin-top: 5em;">Dianne Gimenez</p>
        </div>
       </div>   
       <p class="text-center" style="font-size: 12px; color: gray;margin-top: 2em;">Dianne is currently connected to publishing companies and does freelance copyediting. She is exposed in student media organizations and often participates in pitching ideas for magazine contents.</p>
      </div>

       <div class="col-md-4">
       <div class="view overlay zoom" style="border-radius: 70%;width: 250px; height: 250px;margin: 0 auto;">
        <img src="../../assets/images/osabel.jpg" class="img-fluid " alt="zoom" style="width: 250px; height: 250px; border-radius: 50%;">
        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text" style="margin-top: 5em;">Christine Jesusa Osabel</p>
        </div>
       </div> 
        <p class="text-center" style="font-size: 12px; color: gray;margin-top: 2em;">Christine is into website development and is open to new ideas, especially in the field of user interface designing. </p>  
      </div>

       <div class="col-md-4">
       <div class="view overlay zoom" style="border-radius: 70%;width: 250px; height: 250px;margin: 0 auto;">
        <img src="../../assets/images/jerome.jpg" class="img-fluid " alt="zoom" style="width: 250px; height: 250px; border-radius: 50%;">
        <div class="mask flex-center waves-effect waves-light">
          <p class="white-text" style="margin-top: 5em;">Jerome Lapiña</p>
        </div>
       </div>  
        <p class="text-center" style="font-size: 12px; color: gray;margin-top: 2em;">A passionate graphics artist/UX designer accustomed to performing in a deadline-driven environment with emphasis on working with within-budget requirements, attentive to details, and most importantly, a fast learner.</p> 
      </div>
    </div>
  </div>
 </div>


<!-- Full Height Modal Right -->
<!-- <div class="modal fade right show" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 16px;" aria-modal="true"> -->
<div class="modal fade right" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title ml-auto mr-auto">Create an Account</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="md-form form-sm">
              <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="email" id="emailadd" class="form-control">
              <label for="emailadd">Email</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-lock prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="password" id="password" class="form-control">
              <label for="passowrd">Password</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-lock prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="password" id="confirmpassword" class="form-control">
              <label for="confirmpassword">Confirm Password</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-phone prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="text" id="phonenumber" class="form-control">
              <label for="phonenumber">Phone Number</label> <br/>
            </div>
            <div class="user-type-group" style="margin: -2em 0 0 1em;">
              <p style="color: gray;">Are you a/an? </p>
               <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="author" name="usertype" checked>
                <label class="custom-control-label" for="author">Author</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="copywriter" name="usertype">
                <label class="custom-control-label" for="copywriter">Copywriter</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="publisher" name="usertype" style="margin-left: .5em;">
                <label class="custom-control-label" for="publisher">Publisher</label>
              </div>
              <p class="red-text" style="font-size: 10px;margin-top: .5em;">Tip: Publishers need to comply all necessary business requirements.</p>
              <p style="font-size: 12px;">By clicking “Sign Up”, you agree to our <a href="../../views/homepage/terms.html" target="_blank">Terms and Condition of Service </a>. We’ll occasionally send you account related emails.</p>
            </div>
           </div> 
        
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn red lighten-1 white-text btn-md" data-dismiss="modal" style="width: 160px;">Close</button>
        <button type="button" class="btn cyan white-text btn-md">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->

<div class="modal fade right" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

<!-- <div class="modal fade right show" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style="display: block; padding-right: 16px;"> -->

  <div class="modal-dialog  modal-side modal-bottom-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title ml-auto mr-auto">Contact Us</h4>
      </div>
      <div class="modal-body">
       <div class="md-form form-sm">
        <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;"></i>
        <input type="email" id="emailadd" class="form-control">
        <label for="emailadd">Email</label> <br/>
       </div>
       <div class="md-form">
        <i class="fas fa-pencil-alt prefix" style="font-size: 15px;margin-top: .6em;"></i>
        <textarea id="form10" class="md-textarea form-control" rows="1"></textarea>
        <label for="form10">Message</label>
      </div>


      </div>
      <div class="modal-footer">
         <button type="button" class="btn red lighten-1 white-text btn-md" data-dismiss="modal">Close</button>
        <button type="button" class="btn cyan white-text btn-md">Send</button>
      </div>
    </div>
  </div>
</div>


<!-- Book Preview Modal -->
<div class="modal fade" id="bookpreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">


 <!-- <div class="modal fade show" id="bookpreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style="padding-right: 16px; display: block;"> -->

  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Insert Book Title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6" >
            <img class="responsive-img z-depth-3" src="../../assets/images/book1.jpg" width="250" height= "300" style="margin: auto; display:block;margin-top: 2em;">
          </div>
          <div class="col-md-6">
          <p style="font-weight: bold;">Author: Insert Name of Author</p>
          <hr>
          <p style="text-indent: 50px;font-size: 14px;">Candy canes dessert cheesecake candy. Macaroon chocolate bar topping sesame snaps gummi bears muffin gingerbread soufflé powder. Jelly beans pudding caramels macaroon chocolate tiramisu icing. Jujubes caramels chocolate bar tiramisu toffee jujubes croissant muffin. Dessert tootsie roll macaroon croissant muffin. Soufflé jelly beans cupcake sugar plum sesame snaps marshmallow. Jelly gummies toffee. Toffee chocolate bar biscuit gummi bears tiramisu macaroon halvah gummi bears candy canes. Tart cheesecake cupcake jujubes. Cookie bear claw toffee oat cake.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red lighten-1 white-text btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Book Preview Modal -->

<!-- Forgot Password Modal -->

<div class="modal fade right" id="forgotpass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

<!--   <div class="modal fade right show" id="forgotpass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style="display: block; padding-right: 19px;"> -->

  <div class="modal-dialog modal-side modal-top-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Reset your password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please enter your email address and we will send you a link to reset your password.
        <div class="md-form form-sm">
          <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
          <input type="email" id="emailadd" class="form-control">
          <label for="emailadd">Email</label> <br/>
       </div>
       <button type="button" class="btn cyan white-text btn-md reset-password" style="float:right;margin-top: -2em; " data-dismiss="modal">Send password reset email</button>
      </div>
         
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->

<!-- Footer -->
<footer class="white-text font-small blue-grey darken-4">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#about-us" class="white-text">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#faq" class="white-text">FAQ</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a data-toggle="modal" data-target="#contactus" class="white-text">Contact Us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="../../views/homepage/terms.html" class="white-text" target="_blank">Terms</a>
        </h6>
      </div>
      <!-- Grid column -->

     

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem; margin-bottom: 3em;">Your original story could be the next best-selling book in the country. SulaTroniko is an innovative writing platform which connects authors, publishers, and copywriters in one community to produce the next big hit in the industry.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background: #1e282d;">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" class="grey-text"> SulaTroniko. All Rights Reserved.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../../assets/js/author/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../assets/js/author/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../assets/js/author/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../assets/js/author/mdb.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
 <!--  <script src="../../assets/js/materialize.js"></script>
  <script src="../../assets/js/init.js"></script> -->
  <script>
    document.querySelector(".reset-password").addEventListener('click', function(){
      Swal.fire({
      position: 'top-end',
      type: 'success',
      title: 'Email has been sent',
      showConfirmButton: false,
      timer: 1500,
      width: 400
    })
    });

  </script>
 </body>
</html>


