<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SulaTroniko</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
  <link href="../../assets/css/author/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../../assets/css/author/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../../assets/css/author/style.min.css" rel="stylesheet">
</head>

<body>
  <!--Navbar -->
<nav class=" navbar fixed-top navbar-expand-sm" style="height: 3.8em;background: white;">
    <a id="logo-container" href="#" class="brand-logo">
      <img src="../../assets/images/sulatroniko_logo.png" style="width: 150px !important;margin-top: .15em;">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <div class="md-form form-sm">
          <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
          <input type="text" id="useremail" class="form-control" placeholder="Email">  
        </div>
      </li>
      <li class="nav-item" style="margin-left: 1em;margin-right: .5em;">
        <div class="md-form form-sm">
          <i class="fas fa-lock prefix"style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i> 
          <input type="password" id="userpassword" class="form-control" placeholder="Password">
        </div>
      </li>
      <li class="nav-item" style="margin-top: 1.7em;">
        <a class="waves-effect cyan btn btn-sm">Login</a>
      </li>
      <li class="nav-item" style="margin-top: 1.7em;">
        <a data-toggle="modal" data-target="#signup" class="waves-effect btn btn-primary btn-sm">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

 <div class="container">
   <div class="section" style="min-height: 100vh;margin-top: 5em;">
    <h3>Terms & Conditions</h3>
     <div class="section" style="margin: 2em 0 0 4em;">
       <p style="font-weight: bold; font-size: 16px;margin-bottom: 2em;">Acceptance of Terms</p>
         <p class="text-justify" style="text-indent: 50px;font-size: 14px;">By using and/or visiting this website (collectively, including all content available through SulaTroniko.com domain name and any country-specific domains or subdomains thereof, the SulaTroniko, you signify your agreement to (1) these terms and conditions (the “Terms of Service”), (2) SulaTroniko’s privacy notice, found at http://sulatroniko.com/privacy-policy/ and incorporated here by reference (“Agreement”). If you do not agree to any of these terms, the Sulatroniko.com privacy notice, or the Community Guidelines, please do not use the website.</p>
         <p class="text-justify" style="text-indent: 50px;font-size: 14px;">Although we may attempt to notify you when major changes are made to these Terms of Service, you should periodically review the most up-to-date version (http://sulatroniko.com/terms-and-conditions). Sulatroniko.com may, in its sole discretion, modify or revise these Terms of Service and policies at any time, and you agree to be bound by such modifications or revisions. Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.</p>
         <ul style="font-size: 14px;">
           <li style="font-weight: bold;margin-bottom"> Website</li>
            <ol type="A" style="margin: 1em 0;">
              <li>These Terms of Service apply to all users of the sulatroniko.com website, including users who are contributors of text content, information, and other materials or services on the website.</li>
              <li>The sulatroniko.com may contain links to third party websites that are not owned or controlled by Sulatroniko.com. Sulatroniko.com has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, Sulatroniko.com will not and cannot censor or edit the content of any third-party site. By using the Website, you expressly relieve Sulatroniko.com from any and all liability arising from your use of any third-party website.</li>
            </ol>
           <li style="font-weight: bold;"> Account</li>
            <ol type="A" style="margin: 1em 0;">
              <li>In order to access some features of the website, you will have to create a Sulatroniko.com account. You may never use another's account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify Sulatroniko.com immediately of any breach of security or unauthorized use of your account.</li>
            </ol>
           <li style="font-weight: bold;"> Account Termination Policy</li>
             <ol type="A" style="margin: 1em 0;">
                <li>Sulatroniko.com will terminate a user's access to the website if, under appropriate circumstances, the user is determined to be an infringer.</li>
                <li>Sulatroniko.com reserves the right to decide whether Content or a User Submission is appropriate and complies with these Terms of Service for violations other than copyright infringement or privacy law, such as, but not limited to, hate crimes, pornography, obscene or defamatory material, or excessive length. Sulatroniko.com may remove such User Submissions and/or terminate a User's access for uploading such material in violation of these Terms of Service at any time, without prior notice and at its sole discretion. </li>
             </ol>
           <li style="font-weight: bold;"> Copywrite Policy</li>
            <ol type="1" style="margin: 1em 0;">
              <p>Sulatroniko.com may terminate user access to the website if a user has been determined to be an infringer. To file a copyright infringement notification with us, you will need to send a communication to us with all of the following information with this format: </p>
              <li>Write a statement telling us that you have found a content on Sulatroniko.com which you believe infringes your copyright. (“I hereby confirm that I believe the story identified below infringes my copyright”). </li>
              <li>Tell us the title of the content concerned and the full URL for its page. </li>
              <li>Explain to us in what way that content infringes your copyright (e.g. the text is copied, the entire story is a copy of an original work made by you, etc.) </li>
              <li>Identify the type (e.g. a book, a short story, a poem, etc.) and details of (e.g. title, publisher, dates, etc.) the copyrighted work which you own the rights in, and which you believe has been infringed. If this information is available on the internet, it is helpful to send us a link. </li>
              <li>Let us have contact information so that we can get in touch with you (email address is preferred).</li>
            </ol>
           <li style="font-weight: bold;"> Transaction</li>
            <p style="margin: 1em 0;text-indent: 50px;">Any user can send a manuscript to the desired publisher given the fact that the work is original and is free of copyright infringement. If the publisher will like the manuscript, they can accept it using the ‘ACCEPT’ button which means that the manuscript had been officially accepted and the publisher is entitled to offer a contract. However, if in case the publisher accidentally pressed the accept button, they are given 24 hours prior to cancellation. The transaction is considered closed once the work in progress will start and the payment will be deducted from the account of both parties.
            </p>
           <li style="font-weight: bold;"> Contract Offer</li>
            <p style="margin: 1em 0  8em 0;text-indent: 50px;">The website does not take part in whatever contract or agreement that the publisher, author, or copywriter and publisher have agreed upon. SulaTroniko.com shall only cater the transactions offered by the website but shall not be held reliable for any possible breach of contract that may occur.</p>
         </ul>
     </div>
   </div>
 </div>


<!-- Full Height Modal Right -->
<!-- <div class="modal fade right show" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block; padding-right: 16px;" aria-modal="true"> -->
<div class="modal fade right" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title ml-auto mr-auto">Create an Account</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="md-form form-sm">
              <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="email" id="emailadd" class="form-control">
              <label for="emailadd">Email</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-lock prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="password" id="password" class="form-control">
              <label for="passowrd">Password</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-lock prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="password" id="confirmpassword" class="form-control">
              <label for="confirmpassword">Confirm Password</label> <br/>
            </div>
            <div class="md-form form-sm" style="margin-top: -1.8em;">
              <i class="fas fa-phone prefix" style="font-size: 15px;margin-top: .6em;margin-left: .5em;"></i>
              <input type="text" id="phonenumber" class="form-control">
              <label for="phonenumber">Phone Number</label> <br/>
            </div>
            <div class="user-type-group" style="margin: -2em 0 0 1em;">
              <p style="color: gray;">Are you a/an? </p>
               <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="author" name="usertype" checked>
                <label class="custom-control-label" for="author">Author</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="copywriter" name="usertype">
                <label class="custom-control-label" for="copywriter">Copywriter</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="publisher" name="usertype" style="margin-left: .5em;">
                <label class="custom-control-label" for="publisher">Publisher</label>
              </div>
              <p class="red-text" style="font-size: 10px;margin-top: .5em;">Tip: Publishers need to comply all necessary business requirements.</p>
              <p style="font-size: 12px;">By clicking “Sign Up”, you agree to our <a href="../../views/homepage/terms.html" target="_blank">Terms and Condition of Service </a>. We’ll occasionally send you account related emails.</p>
            </div>
           </div> 
        
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn red lighten-1 white-text btn-md" data-dismiss="modal" style="width: 160px;">Close</button>
        <button type="button" class="btn cyan white-text btn-md">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<!-- Full Height Modal Right -->


<div class="modal fade right" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

<!-- <div class="modal fade right show" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style="display: block; padding-right: 16px;"> -->

  <div class="modal-dialog  modal-side modal-bottom-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title ml-auto mr-auto">Contact Us</h4>
      </div>
      <div class="modal-body">
       <div class="md-form form-sm">
        <i class="fas fa-envelope prefix" style="font-size: 15px;margin-top: .6em;"></i>
        <input type="email" id="emailadd" class="form-control">
        <label for="emailadd">Email</label> <br/>
       </div>
       <div class="md-form">
        <i class="fas fa-pencil-alt prefix" style="font-size: 15px;margin-top: .6em;"></i>
        <textarea id="form10" class="md-textarea form-control" rows="1"></textarea>
        <label for="form10">Message</label>
      </div>


      </div>
      <div class="modal-footer">
         <button type="button" class="btn red lighten-1 white-text btn-md" data-dismiss="modal">Close</button>
        <button type="button" class="btn cyan white-text btn-md">Send</button>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="white-text font-small blue-grey darken-4">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="white-text">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="white-text">FAQ</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a data-toggle="modal" data-target="#contactus" class="white-text">Contact Us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="../../views/homepage/terms.html" class="white-text" target="_blank">Terms</a>
        </h6>
      </div>
      <!-- Grid column -->

     

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background: #1e282d;">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" class="grey-text"> SulaTroniko. All Rights Reserved.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../../assets/js/author/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../assets/js/author/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../assets/js/author/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../assets/js/author/mdb.min.js"></script>
 <!--  <script src="../../assets/js/materialize.js"></script>
  <script src="../../assets/js/init.js"></script> -->
  
 </body>
</html>


